.row
  .col-sm-3
  #posts.col-sm-6
    - @posts.each do |post|
      =render :partial => 'print', :locals => {:post => post}
  .col-sm-3
%h1


.row
  .col-sm-3
  #cuerpo.col-sm-6
    %p= link_to "Add a New Post", new_post_path, id: "new_link", remote: true
  .col-sm-3